<main class="w-screen h-screen">
  <div class="p-2 w-max h-max">
    <span class="relative inline-flex">
      <button type="button" class="inline-flex items-center px-4 py-2 text-sm font-semibold leading-6 text-gray-600 transition duration-150 ease-in-out bg-white rounded-md shadow cursor-not-allowed dark:bg-slate-800 ring-1 ring-slate-900/10 dark:ring-slate-200/20" disabled="">
        Server
      </button>
      <span class="absolute top-0 right-0 flex w-3 h-3 -mt-1 -mr-1">
        <span [ngClass]="serverStateClass()" class="absolute inline-flex w-full h-full rounded-full opacity-75 animate-ping"></span>
        <span [ngClass]="serverStateClass()" class="relative inline-flex w-3 h-3 rounded-full"></span>
      </span>
    </span>
  </div>
  <div class="flex flex-wrap items-center justify-center w-full h-full space-x-4 dark:bg-slate-800">
    <moderng-button (onClick)="toggle()">Button</moderng-button>
    <moderng-button variant="secondary" (onClick)="toggle()">Secondary</moderng-button>
    <moderng-button variant="destructive" (onClick)="toggle()">Destructive</moderng-button>
    <moderng-button variant="outline" (onClick)="toggle()">Outline</moderng-button>
    <moderng-button variant="ghost" (onClick)="toggle()">Ghost</moderng-button>
    <moderng-button variant="link">Link</moderng-button>
    <moderng-button size="icon" variant="outline">
      <ng-icon name="matKeyboardArrowRightOutline"/>
    </moderng-button>
    <moderng-button>
      <ng-icon name="matMailOutlineOutline" class="me-2"/>
      Login with Email
    </moderng-button>
    <moderng-button [disabled]="true">
      <ng-icon name="matAutorenewOutline" class="animate-spin me-2"/>
      Please wait
    </moderng-button>
  </div>  
</main>

