<main class="flex items-center justify-center w-screen h-screen space-x-4 dark:bg-slate-800">
  <moderng-button>Button</moderng-button>
  <moderng-button variant="secondary">Secondary</moderng-button>
  <moderng-button variant="destructive">Destructive</moderng-button>
  <moderng-button variant="ghost">Ghost</moderng-button>
  <moderng-button variant="link">Link</moderng-button>
  <moderng-button variant="outline">Icon</moderng-button>
  <moderng-button>Login with Emil</moderng-button>
  <moderng-button [disabled]="true">Please wait</moderng-button>
</main>